@using NorthWNDweb.Models
@model List<SuppliersPO>
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Suppliers</h2>

<div class="row">
    <div class="col-md-12">
        @{
            Html.RenderPartial("_Index", Model);
        }
    </div>
</div>


<div id="ProductsModal" class="modal fade" role="dialog">
    <div class="modal-admin">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div id="modalTable">

                </div>
                <!--insert table here-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<script type="text/javascript" language="javascript">
    function DisplayModal() {
        $('#ProductsModal').modal();
    }
    function FailedToLoadModal() {
        $alert('failure');
    }
</script>